body{
 width: 100%;
 height: 100%;
 margin: 0;
}
a{
 text-decoration: none;
 background-color: transparent;
 color: #ededed;
}
.header{
	background-color: #000;
 color: #fff;
 border-color: #080808;
 min-height: 50px;
 border: 1px solid transparent;
}
.innerheader{
width: 80%;
 margin: auto;
}
.logo{
	 float: left;
 height: 50px;
 padding: 15px;
 font-size: 20px;
 font-weight: bold;
}
.signup{
 float: right;
 font-size: 14px;
 height: 50px;
 padding: 15px 15px;
 font-size: 16px;
 font-weight: bold;
}
.content{
	min-height: 600px;
}
.banner{
	padding-bottom: 50px;
 margin-bottom: 20px;
 text-align: center;
 color: #f8f8f8;
 background: url(../intro-bg_1.jpg) no-repeat center;
 background-size: cover;
}
.innerbanner{
 padding-top: 12%;
 width: 50%;
margin: auto;

}
.bannercontent{
	position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 overflow: hidden;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;

}
.button{
	color: #fff;
 background-color: #c9302c;
 border-color: #ac2925;
 box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
 padding: 10px 16px;
 font-size: 18px;
 border-radius: 6px;
}


.thumbnail{
	width: 100%;
 display: block;
 padding: 0px;
 margin-bottom: 20px;
 line-height: 1.42857143;
 background-color: #fff;
 border: 0px solid #ddd;
 border-radius: 4px;
 float: center;
 margin-left: 0%;
}
.caption{
	 color: #000;
 padding: 0px 10px 10px;
 font-weight: bold;
 text-align: center;
}
footer{
	 background-color: #000;
 color: #fff;
 font-size: 14px;

}
.banner_image{
	padding-top: 75px;
 padding-bottom: 50px;
 text-align: center;
 color: #f8f8f8;
 background: url(../img/intro-bg_1.jpg) no-repeat center center;
 background-size: autoSS; 
}